<!-- <md-toolbar>
  <h2 class="md-toolbar-tools">
    <span>Toolbar</span>
  </h2>
</md-toolbar>
<md-content>
  <h1>App running</h1>
</md-content>
 -->
 <div layout="column" ng-controller="HomeCtrl" ng-cloak>
 	<div flex layout="row" layout-sm="column" layout-xs="column" layout-align="start strech" layout-fill class="m-b-20 smooth" sn-skrollr
		 data-0-start="position:relative;height:auto;z-index:999; background:rgba(225,225,225,0);"
		 data-15-start="position:fixed; top:0;height:auto; background:rgba(225,225,225,0.7);"
		 data-25-start="position:fixed; top:0;height:auto;">
		<md-button class="md-primary md-raised menu-style no-left-margin no-top-margin smooth" flex-gt-sm="25" flex-sm="100" flex="40" layout layout-align="space-around end"><img src="img/logo-white.png" class="logo" sn-skrollr data-0-start="width:90px;height:90px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;" ><span sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;"> Tutor Yourself</span></md-button>
		<md-button class=" md-raised  no-top-margin white-bg smooth" flex-gt-sm="19" flex-sm="100" flex="15" layout layout-align="space-around end"><img src="img/home.png"  class="logo" sn-skrollr data-0-start="width:64px;height:64px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;"><span class="red x-18 bold" sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;">HOME</span></md-button>
		<md-button class=" md-raised  no-top-margin white-bg smooth" flex-gt-sm="19" flex-sm="100" flex="15" layout layout-align="space-around end"><img src="img/about.png" class="logo" sn-skrollr data-0-start="width:64px;height:64px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;"><span class="red x-18 bold" sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;">ABOUT</span></md-button>
		<md-button class=" md-raised  no-top-margin white-bg smooth" flex-gt-sm="19" flex-sm="100" flex="15" layout layout-align="space-around end"><img src="img/login.png" class="logo" sn-skrollr data-0-start="width:64px;height:64px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;"><span class="red x-18 bold" sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;">LOGIN</span></md-button>
		<md-button class=" md-raised  no-top-margin white-bg smooth"  flex-gt-sm="19" flex-sm="100" flex="15" layout layout-align="space-around end"><a ui-sref="signup"><img src="img/register.png" class="logo" sn-skrollr  data-0-start=" width:64px;height:64px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;"><span class="red x-18 bold" sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;">Register</span></a></md-button>
		<md-button class=" md-raised  no-top-margin white-bg smooth" flex-gt-sm="19" flex-sm="100" flex="15" layout layout-align="space-around end"><img src="img/contact.png" class="logo" sn-skrollr data-0-start="width:64px;height:64px;margin-bottom:10px;" data-25-start="width:50px;height:50px;margin-bottom:0px;"><span class="red x-18 bold" sn-skrollr data-0-start="display:block;opacity:1;" data-25-start="display:none;opacity:0;">CONTACT</span></md-button>

	</div>
	 <div class="padded video-container white-bg m-b-20" md-whiteframe="1"   flex="100" layout layout-align="center center">
		 <youtube-video video-id="qxpntiE6k8E"  class="player" show-info="0" modestbranding="1" end="68" rel="0" controls="0" autoplay="1"></youtube-video>
	 </div>
	 <div flex layout="row" layout-sm="column" layout-xs="column" layout-align="space-around center" class=" grey-bg">
		 <div class="padded orange-bg white work-card" md-whiteframe="2"   flex="30" flex-sm="100" flex-xs="100" layout layout-align="center center">
			 <img src="img/code.png" alt="Code">
			 <md-content layout-padding>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur dolorem, eos est fuga fugiat, maiores nesciunt nulla, quam rerum sint soluta ullam voluptate? Autem deleniti dolore expedita incidunt repellendus!
			</md-content>
		 </div>
		 <div class="padded green-bg white work-card" md-whiteframe="2"   flex="30" flex-sm="100" flex-xs="100" layout layout-align="center center">
			 <img src="img/puzzle.png" width="100px" height="auto" alt="Code">

			 <md-content layout-padding>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur dolorem, eos est fuga fugiat, maiores nesciunt nulla, quam rerum sint soluta ullam voluptate? Autem deleniti dolore expedita incidunt repellendus!
			 </md-content>

		 </div>
		 <div class="padded red-bg white work-card" md-whiteframe="2"   flex="30" layout flex-sm="100" flex-xs="100" layout-align="center center">
			 <img src="img/brain.png" alt="Code">
			 <md-content layout-padding>
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequuntur dolorem, eos est fuga fugiat, maiores nesciunt nulla, quam rerum sint soluta ullam voluptate? Autem deleniti dolore expedita incidunt repellendus!
			 </md-content>

		 </div>
	 </div>
	 <div flex="100" class="padded teaching white-bg" md-whiteframe="2" mn-scroll  layout="row" layout-sm="column" layout-xs="column" layout-align="space-around center" sn-skrollr data-0-start="position:relative;" data-580-start="position:fixed;top:120px;width:100%;" data-920-start="position:relative;">
		<md-content  flex="30" flex-offset="10" layout-align="center center"><h2 class="red">WHAT DO WE TEACH?</h2></md-content>
		 <div class="teaching-content"  flex="50"  layout="column" layout-align="center start" >
			<div flex="100" layout="column" layout-align="center start" sn-skrollr data-580-start="opacity:1;transform:translateY(0px);" data-640-start="opacity:0;transform:translateY(-10px);">
				<span flex="30" class="x-18 teaching-title"><img src="img/idea.png" alt="Tutor Yourself"><strong>Develop Logic to solve the problem</strong></span>
				<md-content flex="70">something</md-content>
			</div>
			 <div flex="100" layout="column" layout-align="center start" sn-skrollr data-640-start="opacity:0;transform:translateY(200px);" data-700-start="opacity:1;transform:translateY(-100px);" data-770-start="opacity:0;transform:translateY(-110px);" >
				 <span flex="30" class="x-18 teaching-title"><img src="img/analysis.png" alt="Tutor Yourself"><strong>Analysis of the various logic developed</strong></span>
				 <md-content flex="70">something</md-content>
			 </div>
			 <div flex="100" layout="column" layout-align="center start" sn-skrollr data-700-start="opacity:0;transform:translateY(200px);" data-800-start="opacity:1;transform:translateY(-200px);" data-870-start="opacity:0;transform:translateY(-210px);">
				 <span flex="30" class="x-18 teaching-title"><img src="img/target.png" alt="Tutor Yourself"><strong>Coming to an optimum solution</strong></span>
				 <md-content flex="70">something</md-content>
			 </div>
			 <div flex="100" layout="column" layout-align="center start" sn-skrollr data-800-start="opacity:0;transform:translateY(200px);" data-900-start="opacity:1;transform:translateY(-300px);">
				 <span flex="30" class="x-18 teaching-title"><img src="img/cool.png" alt="Tutor Yourself"><strong>Keep cool, to be cool</strong></span>
				 <md-content flex="70">something</md-content>
			 </div>
		 </div>
	 </div>
	 <div class="padded footer" md-whiteframe="3" flex="100" sn-skrollr  layout="row" layout-align="space-around space-around" data-950-start="transform:translateY(0px);opacity:0;" data-980-start="transform:translateY(0px);opacity:1;">

	 </div>
</div>