<img src="img/modal.jpg" class="img-responsive" style="position: absolute;"  width="250px" height="auto">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close()" aria-hidden="true">×</button>
        <h3 class="modal-title" style="margin-left: 270px; color: blue;"><span class="fa fa-star yellow">&nbsp;</span>Congratulations!</h3>
      </div>
      <div class="modal-body" style="margin-left: 270px; color: red;">
        <p class="x-18">&nbsp;&nbsp;You've entered level {{showLevel}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary blue-bg white" ng-click="ok()">Ok</button>
      </div>
